body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #ff8c00;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #e07a00;
}
header h1 {
    font-size: 36px;
    margin: 0;
}
.menu {
    padding: 40px 20px;
    text-align: center;
}
.menu h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #ff8c00;
}
.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.menu-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.menu-item img {
    width: 70%;
    border-radius: 8px;
    margin-bottom: 15px;
}
.menu-item h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}
.menu-item p {
    font-size: 18px;
    color: #666;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
footer p {
    margin: 0;
}
footer .social-media {
    margin-top: 10px;
}
footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
}
footer .social-media a:hover {
    text-decoration: underline;
}
